<!--
  templateType: global_partial
  label: Website header
-->

<header class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
  

  {# Top header drag and drop area #}

  {% dnd_area "header-top"
    label="Top header",
    class="content-wrapper"
  %}
  
  {% end_dnd_area %}

  {# Main header #}

  <div class="header__container content-wrapper">

    <div class="header__main">
      <div class="container">
        <div class="header__row">
          <div class="header__left">
            <div class="logo">
              {% module "logo" path="@hubspot/logo"  img = {
                                                            "override_inherited_src": true,
                                                            "src": "{{ get_asset_url('../../images/LogoMark.svg') }}",
                                                            "alt": "Logo"
                                                          }

                                                         no_wrapper=True  %}

            </div>
            <div class="navigation">
              <nav class="mainmenu">
                
               {% module "menu" path="@hubspot/menu" %}
 

              </nav>
            </div>
          </div>
          <div class="header__right">
            <ul>
              <li> 
                <span class="he_icon">
                  {% module "linked_image_timeicon" label="Time Icon" path="@hubspot/linked_image" no_wrapper=True %}
                </span>
                <span class="he_time"> {% module "text" path="@hubspot/text" no_wrapper=True %}  </span>
              </li>
              
              <li> 

                <span class="he_icon">
                  {% module "linked_image_phone" label="Phone Icon" path="@hubspot/linked_image"  no_wrapper=True %}
                </span>

                 

                <span class="he_phone">

                  <a href="tel:"> {% module "text_phone" path="@hubspot/text" label="Phone Text"  no_wrapper=True %} </a>

                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    

  </div>  

  {# Bottom header drag and drop area #}

  {% dnd_area "header-bottom"
    label="Bottom header",
    class="content-wrapper"
  %}
  
  
  {% end_dnd_area %}

</header>



{% require_js %}
<script>
$(document).ready(function(){
 //https://code.jquery.com/jquery-2.2.4.min.js
/* hubspot menu js */
    $(".mainmenu").addClass("js-enabled");
    $(".mainmenu .hs-menu-flow-horizontal").before('<a class="mobile-trigger"><i></i></a>');
    $(".mainmenu .hs-item-has-children > a").after('<span class="child-triggerm"><span></span></span>');
    $("a.mobile-trigger").click(function() {
        $(this).next(".mainmenu .hs-menu-flow-horizontal").slideToggle(250);
        $("body").toggleClass("mobile-open");
        $("span.child-triggerm").removeClass("child-open");
        $(".hs-menu-children-wrapper").slideUp(250);
        return false
    });
    $(".mainmenu span.child-triggerm").click(function() {
        $(this).parent().siblings(".hs-item-has-children").find("span.child-triggerm").removeClass("child-open");
        $(this).parent().siblings(".hs-item-has-children").find(".hs-menu-children-wrapper").slideUp(250);
        $(this).next(".hs-menu-children-wrapper").slideToggle(250);
        $(this).next(".hs-menu-children-wrapper").children(".hs-item-has-children").find(".hs-menu-children-wrapper").slideUp(250);
        $(this).next(".hs-menu-children-wrapper").children(".hs-item-has-children").find("span.child-triggerm").removeClass("child-open");
        $(this).toggleClass("child-open");
        return false
    });
  
});

$(window).scroll(function() {
      if ($(this).scrollTop() > 1){  
          $('body').addClass("sticky");
           }
        else{
           $('body').removeClass("sticky");
        }
});
</script>
{% end_require_js %}